# TODO: Switch to `layout uv` after official support, see: https://github.com/direnv/direnv/issues/1250
# If you would like to use uv layout right now, please copy the content from `.direnvrc` to
# `${XDG_CONFIG_HOME:-${HOME}/.config}/direnv/direnvrc`
export VIRTUAL_ENV=.venv
layout python
