apiVersion: kubevirt.io/v1
kind: VirtualMachine
metadata:
  name: {{ vm_name}}
spec:
  runStrategy: Once
  template:
    metadata:
      annotations:
        vm.kubevirt.io/flavor: small
        vm.kubevirt.io/os: cirros
        vm.kubevirt.io/workload: server
    spec:
      domain:
        cpu:
          cores: 1
          sockets: 1
          threads: 1
        devices:
          disks:
            - disk:
              bus: virtio
              name: rootdisk
          interfaces:
            - macAddress: '02:ff:20:00:00:05'
              masquerade: {}
              model: virtio
              name: default
          networkInterfaceMultiqueue: true
          rng: {}
        features:
          acpi: {}
          smm:
            enabled: true
        machine:
          type: q35
        memory:
          guest: 2Gi
        resources: {}
      hostname: {{ vm_hostname }}
      networks:
        - name: default
          pod: {}
      terminationGracePeriodSeconds: 180
      volumes:
        - name: rootdisk
          dataVolume:
            name: cirros
